# R for travis: see documentation at https://docs.travis-ci.com/user/languages/r

language: R
sudo: true
cache: packages

warnings_are_errors: false

addons:
  apt:
    packages:
    - libgsl2
    - libcurl4-openssl-dev
    - libxml2-dev

r_binary_packages:
  - gsl
  - stringi
  - magrittr
  - curl
  - jsonlite
  - Rcpp
  - RcppEigen
  - openssl
  - utf8
  - gss
  - haven
  - minqa
  - mvtnorm
  - nloptr
  - SparseM
  - httpuv
  - markdown
  - sem
  - readxl
  - openxlsx
  - pander
  - lme4
  - psych
  - git2r
  - data.table
  - dplyr
  - purrr
  - tidyr
  - knitr
  - rmarkdown
  - testthat

r_packages:
  - copula
  - pkgdown




after_success:
  - Rscript -e 'pkgdown::build_site()'

before_deploy: Rscript -e 'remotes::install_cran("pkgdown")'
deploy:
  provider: script
  script: Rscript -e 'pkgdown::deploy_site_github()'
  skip_cleanup: true
